@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #222;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.wrapper {
    width: 1280px;
    margin: 50px auto;
}

header {
    position: relative;
}

header .logo {
    font-weight: 600;
    font-size: 20px;
}

header ul.nav {
    float: right;
    list-style: none;
}

header ul.nav li {
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease;
}

header ul.nav li .menu-link {
    text-decoration: none;
    color: #222222;
}

header ul.nav li .menu-link.active {
    text-decoration: none;
    color: red;
}

header ul.nav li:hover {
    opacity: 0.5;
}

header img.shop-cart-button {
    height: 20px;
    width: 20px;
    float: right;
    cursor: pointer;
    transition: transform 500ms ease;
}

header img.shop-cart-button.active {
    transform: scale(1.5);
}

header .shop-cart {
    position: absolute;
    top: 30px;
    right: 0;
    width: 450px;
    background: #fafafa;
    -webkit-box-shadow: 9px 9px 16px 1px rgba(52, 74, 92, 0.2);
    -moz-box-shadow: 9px 9px 16px 1px rgba(52, 74, 92, 0.2);
    box-shadow: 9px 9px 16px 1px rgba(52, 74, 92, 0.2);
    z-index: 10;
    padding: 20px;
    padding-bottom: 0;
}

header .shop-cart .item {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

header .shop-cart .item img {
    width: 70px;
    float: left;
    margin-right: 20px;
}

header .shop-cart .item h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

header .shop-cart .item p {
    color: #797979;
    font-weight: 600;
}

header .shop-cart .item .item-buttons {
    display: flex;
    float: right;
    gap: 15px;
    position: relative;
    top: -50px;
}

header .shop-cart .item .counter {
    display: flex;
    flex-direction: column;
    width: 15px;
    text-align: center;
}

header .shop-cart .item .up-btn, 
header .shop-cart .item .down-btn {
    width: 15px;
    height: 10px;
    cursor: pointer;
    background-color: #f0f0f0;
}

header .shop-cart .item span {
    float: right;
    background-color: white;
    font-size: 18px;
    font-weight: 600;
    color: #333; 
}

header .shop-cart .item .delete-img {
    float: right;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: transform 500ms ease;
}

header .shop-cart .item .delete-img:hover {
    transform: scale(1.1);
}

header .shop-cart .sum {
    float: left;
    width: 100%;
    font-weight: 600;
    margin-bottom: 20px;
}

header .shop-cart .empty {
    font-size: 20px;
    margin-bottom: 20px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(52, 74, 92, 0.8);
    z-index: 30;
    overflow: auto;
}

.modal .modal-content,
.modal .modal-login {
    width: 600px;
    position: relative;
    margin: 15% auto;
    padding: 40px 30px;
    background: #fff;
    border-radius: 9px;
    text-align: center;
}

.modal .modal-content h3,
.modal .modal-login h3 {
    margin-bottom: 20px;
}

.modal .modal-content button {
    margin-right: 30px;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    border-width: 1px;
    cursor: pointer;
    transition: all 500ms ease;
}

.modal .modal-content button:hover,
.modal .modal-login button:hover {
    transform: scale(1.03);
}

.modal .modal-login p {
    margin-bottom: 20px;
}

.modal .modal-login .account-link {
    text-decoration: none;
    color: #222222;
    transition: all 0.5ms ease;
}

.modal .modal-login .account-link:hover {
    opacity: 0.8;
}

.modal .modal-login button {
    width: 80px;
    height: 30px;
    border-radius: 10px;
    border-width: 1px;
    cursor: pointer;
    transition: all 500ms ease;
}

header .presentation {
    margin: 50px 0;
    background: url('./images/presentation-img.jpg') no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #bcbcbc;
    position: relative;
}

header .presentation::after {
    content: 'Лучшие товары для вашего дома';
    position: absolute;
    top: 100px;
    left: 110px;
    width: 300px;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

header .presentation::before {
    content: 'по низким ценам';
    position: absolute;
    top: 250px;
    left: 110px;
    width: 300px;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}

.categories div {
    display: inline-block;
    background: #f2f2f2;
    border-radius: 50px;
    padding: 10px 20px;
    margin-bottom: 25px;
    margin-right: 15px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 500ms ease;
}

.categories div:hover {
    border-color: silver;
    transform: scale(1.1);
}

.search-form {
    width: 40%;
    float: left;
    padding: 6px 4px;
    margin-bottom: 35px;
    font-size: 16px;
    border-radius: 4px;
    border-color: silver;
    border-style: solid;
}

main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .item {
    width: 30%;
    margin-bottom: 50px;
    background: #f5f5f5;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
}

.full-item {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(52, 74, 92, 0.8);
    z-index: 30;
    overflow: auto;
}

.full-item > div {
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 40px 30px;
    background: #fff;
    border-radius: 9px;

}

.full-item .close {
    float: right;
    position: relative;
    top: -15px;
    cursor: pointer;
}

main .item img, 
.full-item img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

main h2, main p, main b,
.full-item h2, .full-item p, .full-item b {
    margin: 10px 20px;
    color: #333;

}

main b,
.full-item b {
    color: #5fa36a;
}

main .item img:hover, 
.full-item img:hover{
    transform: scale(1.05);
}

main .add-to-cart,
.full-item .add-to-cart {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #ca5252;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
}

main .add-to-cart:hover,
.full-item .add-to-cart:hover {
    transform: scale(1.3) translateY(-5px);
    transition: transform 500ms ease;

}

.enter,
.editing,
.data,
.register {
    display: flex;
    justify-content: center;
}


.enter img,
.editing img,
.data img,
.register img {
    height: 450px;
    opacity: 0.9;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-right: 20px;
    border: 2px solid silver;
    border-radius: 10px;
}

.login-form h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.login-form .em-pass-section {
    display: flex;
    flex-direction: column;
}

.login-form .em-pass-section p {
    float: left;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 20px;
}


.login-form .em-pass-section .email-form,
.login-form .em-pass-section .password-form,
.login-form .em-pass-section .name-form {
    font-size: 18px;
    width: 300px;
    margin-left: 20px;
    border: 2px solid silver;
    border-radius: 3px;
    padding: 3px 4px;
    margin-bottom: 20px;
}

.login-form .button-section button {
    font-size: 18px;
    padding: 3px 4px;
    margin-left: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 3px;
    border-width: 1px;
    transition: all 500ms ease;
}

.login-form .button-section button:hover {
    transform: scale(1.03);
    opacity: 0.5;
}

.login-form .button-section p {
    margin-left: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.user-edit, 
.account {
    margin: 0 auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    border: 2px solid silver;
    border-radius: 10px;
}

.account {
    width: 700px;
}

.user-edit h2,
.account h2 {
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
}

.user-edit ul,
.account ul {
    list-style: none;
}

.user-edit .user-edit-form,
.account .person {
    font-size: 20px;
    margin-left: 25px;
}

.user-edit .user-edit-form .user-text {
    font-size: 20px;
    padding: 3px 4px;
    border: 2px solid silver;
    border-radius: 3px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.account .name {
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.user-edit .user-edit-form button,
.account button {
    font-size: 20px;
    padding: 3px 4px;
    width: 150px;
    cursor: pointer;
    transition: all 500ms ease;
    margin-left: 20px;
    margin-bottom: 20px;
}

.user-edit .user-edit-form button:hover,
.account button:hover {
    transform: scale(1.03);
    opacity: 0.5;
}

.user-edit .user-edit-form li,
.account li {
    height: 48px;
    margin-bottom: 20px;
    font-weight: 600;
}

.contacts {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
    font-size: 20px;
    padding: 15px 20px;
    border: 2px solid silver;
    border-radius: 10px;
}

.contacts h2,
.contacts p {
    margin-bottom: 20px;
}


footer {
    text-align: center;
    margin-top: 100px;
}